<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.bozhko.taskmanager">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icons"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icons"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap = "true"
        android:hardwareAccelerated = "false">

        <activity android:name=".WorkingSpace.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".FifthSeventhScreen.Login"
            android:screenOrientation="portrait"/>
        <activity android:name=".FifthSeventhScreen.SignUp"
            android:screenOrientation="portrait"/>
        <activity android:name=".FifthSeventhScreen.SignIn"
            android:screenOrientation="portrait"/>
        <activity android:name=".SecondFourthScreen.GeneralScreenSFS"
            android:screenOrientation="portrait"/>
        <activity android:name=".FirstScreen.Logo"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".Receiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>